.tokens-grid {
  width: 100%;
  color: #fff;
  border-collapse: collapse;
  border: none;
}

.tokens-grid thead {
  background-color: oklch(0.1482 0.0055 247.8);
  border-radius: 8px;
  
}

.tokens-grid thead tr {
  border: none;
}

.tokens-grid thead tr th {
  padding: 0.75rem 1rem;
  text-align: left;
  border: none;
  font-family: 'Inter';
  font-size: 1rem;
}

.tokens-grid thead th:first-child {
  border-top-left-radius: 4px;
}

.tokens-grid thead th:last-child {
  border-top-right-radius: 4px;
}


.tokens-grid thead th:not(:first-child) {
  border-left: 1px solid oklch(0.2791 0.0203 242.61);
}

.tokens-grid tbody tr {
  border: none;
}

.tokens-grid tbody tr td {
  padding: 0.75rem 1rem;
  color: #ccc;
  border: none;
  font-family: 'Inter';
  font-size: 1rem;
}

.tokens-grid tbody tr:last-child td:first-child {
  border-bottom-left-radius: 4px;
}

.tokens-grid tbody tr:last-child td:last-child {
  border-bottom-right-radius: 4px;
}

.tokens-grid tbody tr td {
  border-top: 4px solid #1b1c1d;
  background: oklch(0.1793 0.0089 240.46);
}

.tokens-grid tbody tr:nth-child(odd) td {
  background: oklch(0.2197 0.0099 248.28);
}