@use '../abstracts' as *;

.btn {
  @include button-reset();
  @include transition(background-color, $transition-normal, $easing-ease-in-out);
  @include focus-ring();

  width: auto;
  height: $space-10;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: $space-2;

  border: 2px solid transparent;
  border-radius: $radius-sm;
  padding: $space-2 $space-5;

  font-family: $font-family-default;
  font-size: $font-size-base;
  font-weight: $font-weight-medium;

  white-space: nowrap;

  @include focus-ring;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
  }

  &--full {
    width: 100%;
    height: $space-10;
  }

  &--primary {
    background-color: $color-primary;
    color: $color-primary-foreground;
    box-shadow: $shadow-md;

    &:hover {
      background-color: $color-primary-hover;
    }
  }
}