@use '../abstracts' as *;

.card {
  background-color: $color-card;
  color: $color-card-foreground;

  display: flex;
  flex-direction: column;
  gap: $space-8;

  padding: $space-6 $space-4;
  border-radius: $radius-md;
  box-shadow: $shadow-sm;

  @include respond-to(tablet) {
    gap: $space-10;
    padding: $space-8 $space-6;
  }

  @include respond-to(desktop) {
    gap: $space-10;
    padding: calc($space-12 + $space-1) $space-10;
  }
}