@use '../abstracts' as *;

.checkbox {
  @include focus-ring;
  @include transition(box-shadow, $transition-fast, $easing-ease-in-out);

  width: $space-5;
  height: $space-5;
  flex-shrink: 0;
  padding: 0;

  background-color: $color-input;
  border: $border-width-px solid $color-border;
  border-radius: $radius-xs;

  box-shadow: $shadow-sm;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
  }

  &[data-state=checked] {
    background-color: $color-primary;
    border: none;
  }

  &__indicator {
    @include center-content;
    transition: none;
    color: currentColor;

    &__icon {
      width: $space-3-5;
      height: $space-3-5;
      color: $color-foreground;
    }
  }
}