@use '../abstracts' as *;

.toast-container {
  position: fixed;
  top: $space-6;
  right: $space-6;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: $space-2;
  pointer-events: none;
}

.toast {
  @include transition(all, $transition-slow, $easing-ease-out);

  
  pointer-events: auto;
  max-width: 20rem;
  min-width: $space-20;
  border-radius: $radius-lg;
  background-color: $color-popover;
  color: $color-popover-foreground;
  box-shadow: $shadow-md;
  overflow: hidden;

  opacity: 0;
  transform: translateX(100%);

  @include respond-to(tablet) {
    max-width: 25rem;
  }

  &--visible {
    opacity: 1;
    transform: translateX(0);
  }
  
  &--removing {
    opacity: 0;
    transform: translateX(100%);
  }

  &__content {
    position: relative;
    padding: $space-4 $space-8 $space-4 $space-4;

    display: flex;
    align-items: center;
    gap: $space-4;

    @include respond-to(desktop) {
      padding: $space-6 $space-8 $space-6 $space-4;
    }
  }

  &__icon {
    @include center-content();

    background-color: $color-secondary;
    width: $space-8;
    height: $space-8;
    border-radius: $radius-full;
  }

  &__indicator {
    @include center-content();

    width: $space-5;
    height: $space-5;
    border-radius: $radius-full;

    &--success {
      background-color: $color-success;

      svg {
        width: $space-2-5;

        path {
          stroke: $color-popover;
        }
      }
    }

    &--warning {
      background-color: $color-warn;

      svg {
        width: $space-0-5;
        height: $space-3;

        path {
          stroke: $color-popover;
        }
      }
    }

    &--error {
      background-color: $color-destructive;

      svg {
        width: $space-2;
        height: $space-2;

        path {
          stroke: $color-popover;
        }
      }
    }
  }

  &__message {
    font-size: $font-size-base;
    font-weight: $font-weight-semibold;

    @include respond-to(desktop) {
      font-size: $font-size-lg;
    }
  }

  &__close {
    @include button-reset();
    position: absolute;
    top: $space-3;
    right: $space-3;

    &-icon {
      color: $color-muted-foreground;  
      width: $space-2-5;
      height: $space-2-5;

      &:hover {
        color: $color-foreground;
      }
    }
  }

  &__glow {
    position: absolute;
    width: 10rem;
    height: 10rem;
    left: -$space-12;
    top: -$space-12;
    border-radius: $radius-full;

    @include respond-to(desktop) {
      width: 12rem;
      height: 12rem;
      left: -$space-16;
      top: -3.5rem;
    }

    &--success {
      background: radial-gradient(50% 50% at 50% 50%, rgba(0, 168, 89, 0.11) 0%, rgba(0, 168, 89, 0) 100%);
    }

    &--warning {
      background: radial-gradient(50% 50% at 50% 50%, rgba(242, 184, 53, 0.11) 0%, rgba(242, 184, 53, 0) 100%);
    }

    &--error {
      background: radial-gradient(50% 50% at 50% 50%, rgba(212, 9, 36, 0.11) 0%, rgba(212, 9, 36, 0) 100%);
    }
  }
}